{
  "env": { 
    "jest": true
  },
  "globals": {
    "jest"      : true,
    "expect"    : true,
    "mockFn"    : true,
    "config"    : true,
    "afterEach" : true,
    "beforeEach": true,
    "describe"  : true,
    "it"        : true,
    "runs"      : true,
    "waitsFor"  : true,
    "pit"       : true,
    "require"   : true,
    "xdescribe" : true,
    "xit"       : true,
    "module"    : true,
    "__dirname" : true
  }
}
